{
    "ignition": {
        "config": {
            "append": [
                {
                    "source": "https://objects.rma.cloudscale.ch/${cluster_name}-bootstrap-ignition/${role}.ign"
                }
            ]
        },
        "version": "2.2.0"
    }
}